<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>8248RGMF2D.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.twitter.notifications.updateNotificationAuthorizationStatus</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>23D60</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Twitter</string>
	<key>CFBundleExecutable</key>
	<string>Twitter</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Custom-Icon-001</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-001</string>
			</dict>
			<key>Custom-Icon-002</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-002</string>
			</dict>
			<key>Custom-Icon-003</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-003</string>
			</dict>
			<key>Custom-Icon-004</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-004</string>
			</dict>
			<key>Custom-Icon-005</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-005</string>
			</dict>
			<key>Custom-Icon-006</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-006</string>
			</dict>
			<key>Custom-Icon-007</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-007</string>
			</dict>
			<key>Custom-Icon-X-Cyber</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Cyber</string>
			</dict>
			<key>Custom-Icon-X-Earth</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Earth</string>
			</dict>
			<key>Custom-Icon-X-Mars</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Mars</string>
			</dict>
			<key>Custom-Icon-X-Moon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Moon</string>
			</dict>
			<key>Custom-Icon-X-Star</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Star</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>ProductionAppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>ProductionAppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Custom-Icon-001</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-001</string>
			</dict>
			<key>Custom-Icon-002</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-002</string>
			</dict>
			<key>Custom-Icon-003</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-003</string>
			</dict>
			<key>Custom-Icon-004</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-004</string>
			</dict>
			<key>Custom-Icon-005</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-005</string>
			</dict>
			<key>Custom-Icon-006</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-006</string>
			</dict>
			<key>Custom-Icon-007</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-007</string>
			</dict>
			<key>Custom-Icon-X-Cyber</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Cyber</string>
			</dict>
			<key>Custom-Icon-X-Earth</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Earth</string>
			</dict>
			<key>Custom-Icon-X-Mars</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Mars</string>
			</dict>
			<key>Custom-Icon-X-Moon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Moon</string>
			</dict>
			<key>Custom-Icon-X-Star</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-X-Star</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>ProductionAppIcon60x60</string>
				<string>ProductionAppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>ProductionAppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.atebits.Tweetie2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Twitter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.33.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.twitter.twitter-iphone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitter</string>
				<string>com.twitter.twitter-iphone</string>
				<string>com.twitter.twitter-iphone+1.0.0</string>
				<string>tweetie</string>
				<string>com.atebits.Tweetie2</string>
				<string>com.atebits.Tweetie2+2.0.0</string>
				<string>com.atebits.Tweetie2+2.1.0</string>
				<string>com.atebits.Tweetie2+2.1.1</string>
				<string>com.atebits.Tweetie2+3.0.0</string>
				<string>fb2231777543</string>
				<string>twitterauth</string>
				<string>com.googleusercontent.apps.638150425128-l5vqrme56bqgum2unv5151c5569dllud</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>DTAppStoreToolsBuild</key>
	<string>15E204</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21C52</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>17.2</string>
	<key>DTSDKBuild</key>
	<string>21C52</string>
	<key>DTSDKName</key>
	<string>iphoneos17.2</string>
	<key>DTXcode</key>
	<string>1520</string>
	<key>DTXcodeBuild</key>
	<string>15C500b</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9820889911543502~4092151694</string>
	<key>GADDelayInitialization</key>
	<integer>1</integer>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>fbauth</string>
		<string>googlechrome</string>
		<string>yelp</string>
		<string>foursquare</string>
		<string>soundcloud</string>
		<string>spotify</string>
		<string>org-appextension-feature-password-management</string>
		<string>comgooglemaps</string>
		<string>snapchat</string>
		<string>fb-messenger</string>
		<string>whatsapp</string>
		<string>googlegmail</string>
		<string>tg</string>
		<string>line</string>
		<string>viber</string>
		<string>instagram-stories</string>
		<string>lightning</string>
		<string>linkedin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://singular-bi.net</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.twitter.com</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<false/>
			</dict>
			<key>cards.twitter.com</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<false/>
			</dict>
			<key>concon.twitter.com</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<false/>
			</dict>
			<key>connectivitycheck.gstatic.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>upload.twitter.com</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Add events to your calendar from X.</string>
	<key>NSCameraUsageDescription</key>
	<string>Capture and post photos and videos from X.</string>
	<key>NSContactsUsageDescription</key>
	<string>We will securely upload your contacts to our servers to help you connect with friends and suggest users to follow on X.</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>Enjoy the X experience tailored to your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enjoy the X experience tailored to your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Capture and post videos with sound from X.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This lets you download photos and videos to your Photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Easily add photos on X.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Going forward, whenever you choose to share captions on this device, Apple will provide the service. Doing so helps make sure people of all hearing abilities can access your content.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.atebits.Tweetie2.spotlight</string>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This helps X show you more relevant ads.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n66cz3y3bx.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4fzdc2evr5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4pfyvq9l8r.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>2fnua5tdw4.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ydx93a7ass.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>5a6flpkh64.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>p78axxw29g.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v72qych5uu.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ludvb6z3bs.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cp8zw746q7.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3sh42y64q3.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>c6k4g5qg8m.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>s39g8k73mm.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3qy4746246.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>f38h382jlk.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>hs6bdukanm.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v4nxqhlyqp.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>wzmmz9fp6w.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>yclnxrl5pm.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>t38b2kh725.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>7ug5zh24hu.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>gta9lk7p23.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>vutu7akeur.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>y5ghdn5j9k.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n6fk4nfna4.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v9wttpbfk9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n38lu8286q.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>47vhws6wlr.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>kbd757ywx3.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>9t245vhmpl.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>eh6m2bh4zr.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>a2p9lx4jpn.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>22mmun2rn5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4468km3ulz.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>2u9pt9hc89.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>8s468mfl3y.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>klf5c3l5u5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ppxm28t8ap.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ecpz2srf59.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>uw77j35x4d.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>pwa73g5rt2.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>mlmmfzh3r3.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>578prtvx9j.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4dzt52r2t5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>e5fvkxwrpn.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>8c4e2ghe7u.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>zq492l623r.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3rd42ekr43.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3qcr597p9d.skadnetwork</string>
		</dict>
	</array>
	<key>TFNClientPrimaryScheme</key>
	<string>twitter</string>
	<key>TWBuildGitSHA</key>
	<string></string>
	<key>TWBuildNumber</key>
	<string>0</string>
	<key>TWBuildTime</key>
	<string>2024-03-18T21:54:49Z</string>
	<key>TWBuildTrain</key>
	<string>X</string>
	<key>TWPushEnvironment</key>
	<string>3</string>
	<key>TWSharedApplicationGroupIdentifier</key>
	<string>group.com.atebits.Tweetie2</string>
	<key>TWSharedKeychainOAuthIdentifier</key>
	<string>8248RGMF2D.com.atebits.Tweetie2.oauth</string>
	<key>TWTrainType</key>
	<string>dev</string>
	<key>UIAppFonts</key>
	<array>
		<string>Chirp/Chirp-Bold.otf</string>
		<string>Chirp/Chirp-Heavy.otf</string>
		<string>Chirp/Chirp-Medium.otf</string>
		<string>Chirp/Chirp-Light.otf</string>
		<string>Chirp/Chirp-Regular.otf</string>
		<string>Chirp/ChirpCY-Bold.otf</string>
		<string>Chirp/ChirpCY-Heavy.otf</string>
		<string>Chirp/ChirpCY-Medium.otf</string>
		<string>Chirp/ChirpCY-Light.otf</string>
		<string>Chirp/ChirpCY-Regular.otf</string>
		<string>Chirp/Chirp-UI-VF.ttf</string>
	</array>
	<key>UIAppFonts-macos</key>
	<array>
		<string>Chirp/Chirp-Bold.otf</string>
		<string>Chirp/Chirp-Heavy.otf</string>
		<string>Chirp/Chirp-Medium.otf</string>
		<string>Chirp/Chirp-Light.otf</string>
		<string>Chirp/Chirp-Regular.otf</string>
		<string>Chirp/ChirpCY-Bold.otf</string>
		<string>Chirp/ChirpCY-Heavy.otf</string>
		<string>Chirp/ChirpCY-Medium.otf</string>
		<string>Chirp/ChirpCY-Light.otf</string>
		<string>Chirp/ChirpCY-Regular.otf</string>
		<string>Chirp/Chirp-UI-VF.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIInterfaceOrientation-iphoneos</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UISupportsDocumentBrowser-macos</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
